.Navbar {
	height: 10vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;

	@media only screen and (max-width: 768px) {
		top: 0;
		position: sticky;
		background-color: white;
	}

	& #nav-menu {
		display: flex;
		z-index: 100;

		@media only screen and (max-width: 768px) {
			position: fixed;
			top: 0;
			z-index: 1;
			flex-direction: column;
			left: -100%;
			transition: left 0.3s ease-in-out;
			text-align: center;
			background-color: white;
			width: 50%;
			height: 100vh;

			&.open {
				left: 0;
			}

			& li {
				&:not(&:first-child) {
					margin-bottom: 20px;
				}

				&:first-child {
					margin-top: 1.2rem;
				}
			}
		}
	}

	& a {
		margin: 0 10px;
		padding: 10px;
		position: relative;

		&::after {
			bottom: 0;
			content: "";
			display: block;
			height: 2.6px;
			left: 50%;
			position: absolute;
			background: black;
			transition: width 0.3s ease 0s, left 0.3s ease 0s;
			width: 0;
		}

		&:hover::after {
			width: 100%;
			left: 0;
		}

		&:hover {
			color: inherit;
		}
	}

	form {
		position: relative;

		& > #searchInput {
			padding: 0.5rem;
		}

		& > #searchButton {
			padding: 0.2rem;
			position: absolute;
			top: 5px;
			right: 10px;
			background-color: inherit;
		}
	}
}
